html, body {
    height: 100%;
}

#console {
    margin: 10px;
}

#page {
    display: table;
    height: 100%;
    width: 100%;
}

#primary-tabs {
    display: table-row;
    height: 100%;
}

#footer {
    display: table-row;
    border-spacing: 0 10px;
}

.spacer {
    display: table-row;
    height: 10px;
    width: 10px;
}

#pt-margin {
    margin: 10px;
    height: 100%;
}

#primary-tabs > #pt-margin > .ng-isolate-scope {
    display: table;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

#primary-tabs .nav {
    display: table-row;
}

#primary-tabs .tab-content {
    display: table-row;
    height: 100%;
    /* background: lightgray; */
}

.tab-content > .tab-pane {
    height: 100%;
}

.tab-content > .tab-pane > .panel {
    height: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-color: transparent;
}