html,body {
    height: 100%;
    margin: 0;
    font-family: 'RobotoDraft', sans-serif;
}

core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; 
}

core-toolbar, console-card::shadow core-toolbar {
    background-color: #526E9C;
    color: white;
}

core-header-panel::shadow #mainPanel {
    background-color: #EEEEEE;
}

core-menu {
    margin: 12px 0px !important;
}

core-menu core-item {
    padding: 0px 12px !important;
}

core-menu core-item.core-selected {
    background-color: #DEDEDE;
    font-weight: normal !important;
}

#tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
