<!DOCTYPE html>
<html lang="us" ng-app="FlowApp" ng-controller="FlowCtrl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Flow</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/flow.css">
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-0.11.0.js"></script>
  </head>
  <body>
    <div id="page">
      
      <div id="primary-tabs">
	<div id="pt-margin">
	  <tabset>
	    <tab ng-repeat="pt in primaryTabs" heading="{{pt.name}}" active="pt.active">
	      <div class="panel panel-default">{{pt.name}}</div>
	    </tab>
	    <tab select="newTab()">
	      <tab-heading><i class="glyphicon glyphicon-plus-sign"></i></tab-heading>
	    </tab>
	  </tabset>
	</div>
      </div>

      <!-- <div class="spacer-row"></div> -->
      <div class="spacer"></div>
      
      <div id="footer">
	<div id='console' class="footer panel panel-default"
	     ng-controller="ConsoleCtrl">
	  <div class="panel-body" collapse="isCollapsed">
	    <textarea id='console-input' cols=80 rows=4
		      ng-model="console.input"
		      ng-change="store('console input', console.input)",
		      ng-keypress="evalConsole($event)"
		      ></textarea>
	    <textarea id='console-output' disabled=true cols=80 rows=4
		      ng-model='console.output'></textarea>
	  </div>
	  <div class="panel-footer">
	    <button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">Console</button>
	  </div>
	</div>
      </div>

    </div>
      
    <script src="../js/flow.js"></script>
  </body>
</html>
